

.codeArea{
  border-radius: 20px;
  border:solid  5px #ffb84d;;
  width:100%;
  height: 450px;
  
}


.txtColor-white{
  color:white;
}

.txtColor-orange{
  color:#ffb84d;
}
.txtColor-red{
  color:red;
}

.io-border{
  width: 90%;
  height: 200px;
  border-radius: 20px;
  border:solid  5px #ffb84d;

}
.code-theme-white{
  color:'black';
}